body {
            background-color: greenyellow;

        }

        li {
            color: red;
        }

        h1 {
            color: red;
        }

img {
height: 500px;
width: 600px;
        }